* {
    box-sizing: border-box;
    align-items: center;
}

:root {
    --main-txt-color: gray;
}

.box *{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html { 
    background: linear-gradient(to bottom,  #141e30, #243b55) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    font-family: monospace;
}

h1 {
    font-size: calc(1em + .5vh);
    padding-top: calc(0.75em + .5vh);
    color: var(--main-txt-color);
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.2);
}

.header-logo {
    width: 12%;
}

.slogan {
    padding-left: 0.5em;
    color: var(--main-txt-color);
    font-size: 1.75em;
}


/* Style the header links */
header a {
    text-align: center;
    padding-left: 0.8em;
    text-decoration: none;
    font-size: calc(0.75em + 0.4vw);
  }

header a:hover {
    text-decoration: underline;
}

/* Style the active/current link*/
header a:active {
    text-decoration: underline;
}

header .header-right {
    float: right;
    align-items: center;
    padding-right: 2%;
}

header .header-left {
    display: flex;
    align-items: center;
    float: left;
    padding-left: 2%;
}

.main-title {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.01337em;
    text-align: center;
    text-decoration: underline;
    color: var(--main-txt-color);
 }
 
.player-wrapper {
    position: relative;
    padding-top: 40%;
    width: 40%
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

a {
    text-align: center;
    color: var(--main-txt-color)
}

.dropdownParagraph {
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    color: var(--main-txt-color);
}

select {
    width: auto;
    background: rgba(0,0,0,0.9);
    color: var(--main-txt-color);
    font-family: monospace;
    font-size: 1.2em;
  }

.youtubevid h1{
    position: relative;
    font-size: calc(1.337em + .5vw);
    color: var(--main-txt-color);
}

h2 {
    position: relative;
    font-size: 1em;
    text-align: center;
    color: var(--main-txt-color);
}

.shoecarousel{
    padding-top: 2%;
    width: 448px
}

.description{
    width: 40vw;
    color: var(--main-txt-color);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="shoecarousel"] {
      width: 67vw;
    }
    [class*="player-wrapper"] {
        padding-top: 80%;
        width: 80%;
    }
    [class*="description"] {
        width: 90vw;
    }
    [class*="header-logo"] {
        width: 10%;
    }
    [class*="slogan"] {
        font-size: 0.8em;
    }
}